[Unit]
After=sshd.service network.target network-online.target

[Service]
ExecStart=/usr/local/bin/ansible-notify.sh

[Install]
WantedBy=default.target
